
ChefTime.xcodeproj/project.xcworkspace/xcuserdata/jessededa.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
ChefTime.xcodeproj/project.xcworkspace/xcuserdata/jessededa.xcuserdatad/UserInterfaceState.xcuserstate
ChefTime/Resources/JSON
ChefTime/Resources/SDMockStore
ChefTime/Dependencies/Database/Database+Mock
/target/
.DS_Store
xcuserdata/
Package.resolved
build
